In [16]:
#!/usr/bin/python3

#import pypyodbc
#import urllib
import urllib.request as urllib
import requests
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import mplfinance as mpf
from mplfinance import candlestick_ohlc
import matplotlib.dates as mpdates
#import csv
#import os 
#from datetime import datetime

url="https://www.alphavantage.co/query?function=FX_INTRADAY&from_symbol=GBP&to_symbol=USD&interval=1min&outputsize=full&apikey=QRNX49EZGZKYUACF&datatype=csv"
#response = requests.get(url)

ImportError: cannot import name 'candlestick_ohlc' from 'mplfinance' (/home/student/.local/lib/python3.10/site-packages/mplfinance/__init__.py)

In [2]:
type(response.content)

bytes

In [3]:
from io import BytesIO

df = pd.read_csv(BytesIO(response.content))
df_for_graph=df.assign(Volume = 0)

In [4]:
df
df=df.assign(Currency= "GBPUSD")
df
df=df.assign(TimeFrame= "1Min")
df

,timestamp,open,high,low,close,Currency,TimeFrame
0,2022-11-02 19:53:00,1.13999,1.14005,1.13937,1.13962,GBPUSD,1Min
1,2022-11-02 19:52:00,1.14011,1.14014,1.13964,1.13999,GBPUSD,1Min
2,2022-11-02 19:51:00,1.14023,1.14035,1.13975,1.14012,GBPUSD,1Min
3,2022-11-02 19:50:00,1.14042,1.14050,1.13961,1.14025,GBPUSD,1Min
4,2022-11-02 19:49:00,1.14104,1.14104,1.14019,1.14040,GBPUSD,1Min
...,...,...,...,...,...,...,...
1435,2022-11-01 19:58:00,1.14812,1.14826,1.14777,1.14809,GBPUSD,1Min
1436,2022-11-01 19:57:00,1.14798,1.14816,1.14769,1.14806,GBPUSD,1Min
1437,2022-11-01 19:56:00,1.14826,1.14833,1.14771,1.14804,GBPUSD,1Min
1438,2022-11-01 19:55:00,1.14815,1.14841,1.14785,1.14828,GBPUSD,1Min
1439,2022-11-01 19:54:00,1.14826,1.14836,1.14788,1.14820,GBPUSD,1Min

In [5]:
type(response.headers)

requests.structures.CaseInsensitiveDict

In [6]:
type(response)

requests.models.Response

In [7]:
response.headers

{'Date': 'Wed, 02 Nov 2022 19:54:50 GMT', 'Content-Type': 'application/x-download', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'X-Frame-Options': 'SAMEORIGIN', 'Vary': 'Cookie', 'Allow': 'GET, HEAD, OPTIONS', 'Content-Disposition': 'attachment; filename=fx_intraday_1min_GBP_USD.csv', 'Via': '1.1 vegur', 'CF-Cache-Status': 'DYNAMIC', 'Server-Timing': 'cf-q-config;dur=5.0000016926788e-06', 'Server': 'cloudflare', 'CF-RAY': '763f6c9f7e39192a-EWR'}

In [8]:
df[['Date', 'Time']] = df['timestamp'].str.split(' ', expand=True)

In [9]:
df.head()

,timestamp,open,high,low,close,Currency,TimeFrame,Date,Time
0,2022-11-02 19:53:00,1.13999,1.14005,1.13937,1.13962,GBPUSD,1Min,2022-11-02,19:53:00
1,2022-11-02 19:52:00,1.14011,1.14014,1.13964,1.13999,GBPUSD,1Min,2022-11-02,19:52:00
2,2022-11-02 19:51:00,1.14023,1.14035,1.13975,1.14012,GBPUSD,1Min,2022-11-02,19:51:00
3,2022-11-02 19:50:00,1.14042,1.14050,1.13961,1.14025,GBPUSD,1Min,2022-11-02,19:50:00
4,2022-11-02 19:49:00,1.14104,1.14104,1.14019,1.14040,GBPUSD,1Min,2022-11-02,19:49:00

In [10]:
df_for_graph.head()

             timestamp     open     high      low    close  Volume
0  2022-11-02 19:53:00  1.13999  1.14005  1.13937  1.13962       0
1  2022-11-02 19:52:00  1.14011  1.14014  1.13964  1.13999       0
2  2022-11-02 19:51:00  1.14023  1.14035  1.13975  1.14012       0
3  2022-11-02 19:50:00  1.14042  1.14050  1.13961  1.14025       0
4  2022-11-02 19:49:00  1.14104  1.14104  1.14019  1.14040       0

In [11]:
df_for_graph['Date'] = pd.to_datetime(df_for_graph['timestamp'])
df_for_graph['Date'] = df_for_graph['Date'].map(mpdates.date2num)

In [12]:
df_for_graph.head()
df_for_graph.drop('timestamp', axis=1, inplace=True)
df_for_graph.head()

      open     high      low    close  Volume          Date
0  1.13999  1.14005  1.13937  1.13962       0  19298.828472
1  1.14011  1.14014  1.13964  1.13999       0  19298.827778
2  1.14023  1.14035  1.13975  1.14012       0  19298.827083
3  1.14042  1.14050  1.13961  1.14025       0  19298.826389
4  1.14104  1.14104  1.14019  1.14040       0  19298.825694

In [13]:
df_for_graph = df_for_graph.reindex(columns=['Date', 
'open', 'high', 'low', 'close', 'Volume'])
df_for_graph.head()

           Date     open     high      low    close  Volume
0  19298.828472  1.13999  1.14005  1.13937  1.13962       0
1  19298.827778  1.14011  1.14014  1.13964  1.13999       0
2  19298.827083  1.14023  1.14035  1.13975  1.14012       0
3  19298.826389  1.14042  1.14050  1.13961  1.14025       0
4  19298.825694  1.14104  1.14104  1.14019  1.14040       0

In [14]:
df_for_graph['Date'] = df_for_graph['Date'].map(mpdates.date2num)

In [15]:
mpf.plot(df_for_graph,type='candle')

TypeError: Expect data.index as DatetimeIndex